<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hangman Game (by h.yueksel)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="h_script.js"></script>
    <link rel="stylesheet" href="h_style.css">
</head>
<body ng-app="hangmanApp">
    <div ng-controller="HangmanController as ctrl">
        <div class="game-container" ng-class="{'game-over': ctrl.gameOver && !ctrl.win}">
            <h1 class="c-gold f-weight-100 t-shadow">Hang Man Game (by h.yueksel)</h1>
            <!-- Hangman-Grafik -->
            <svg class="hangman-svg" viewBox="0 0 200 200">
                <path class="hangman-part" ng-if="ctrl.errors >= 1" d="M20 180 L180 180" />
                <path class="hangman-part" ng-if="ctrl.errors >= 2" d="M100 180 L100 20" />
                <path class="hangman-part" ng-if="ctrl.errors >= 3" d="M100 20 L150 20" />
                <path class="hangman-part" ng-if="ctrl.errors >= 4" d="M150 20 L150 40" />
                <circle class="hangman-part" ng-if="ctrl.errors >= 5" cx="150" cy="60" r="20" />
                <path class="hangman-part" ng-if="ctrl.errors >= 6" d="M150 80 L150 120" />
                <path class="hangman-part" ng-if="ctrl.errors >= 7" d="M150 90 L130 70" />
                <path class="hangman-part" ng-if="ctrl.errors >= 8" d="M150 90 L170 70" />
                <path class="hangman-part" ng-if="ctrl.errors >= 9" d="M150 120 L130 150" />
                <path class="hangman-part" ng-if="ctrl.errors >= 10" d="M150 120 L170 150" />
            </svg>
            <!-- Wortanzeige -->
            <div class="word-display">
                <span ng-repeat="letter in ctrl.wordLetters" class="letter-box">
                    {{ ctrl.gameOver ? letter.char : (letter.guessed ? letter.char : '_') }}
                </span>
            </div>
            <!-- Tastatur -->
            <div class="keyboard">
                <button ng-repeat="letter in ctrl.alphabet"
                    ng-disabled="ctrl.guessedLetters.includes(letter) || ctrl.gameOver"
                    ng-click="ctrl.guessLetter(letter)">
                    {{letter}}
                </button>
            </div>
            <!-- Spielstatus -->
            <div class="status">
                <p>Fehler: {{ctrl.errors}}/10</p>
                <p ng-if="ctrl.gameOver">
                    {{ctrl.win ? '🎉 Gewonnen!' : '💀 Verloren! Lösung: ' + ctrl.originalWord}}
                </p>
                <button class="restart-btn" ng-click="ctrl.init()" ng-if="ctrl.gameOver">
                    🔄 Neustart
                </button>
            </div>
        </div>
    </div>
   
</body>
</html>
